.top-header {
    background-color:rgb(13 110 253);
    font-family: 'roboto', serif;
    }

form {
    display: block;
    border-radius: 5px;
    background-color: white;
}

li, ul {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
    color:white;
  }
a:visited {
  color: white;
}

a:focus {
  border-bottom: 1px solid;
  background: black;
}

a:hover {
  border-bottom: 1px solid;
  background: lightgray;
}

a:active {
  background: black;
  color: #CDFEAA;
}

a:visited {
    color: rgb(100, 98, 98);
  }

.important {
    font-size: large;
    font-weight: bold;
}

p::first-letter {
    font-size: 200%;
  }

footer {
    height: 50px;
}

h4 {
  padding: 20px;
}
